<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Copyright© E.P.G. </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>